<div class='columns categories'>
  <% @this_turn.selected_options.each do |selected_option| %>
    <div class='column'>
      <h2 class='title is-4 category-title'><%= selected_option.option.category.title %></h2>
      <p class='title is-5 has-text-info option-description'>
        <%= selected_option.option.description %>
      </p>
    </div>
  <% end %>
</div>
