<% if @this_turn %>
  <% if @this_turn.completed? %>
    <% if current_user == @game.next_player %>
      <%# The game is started : the current turn is over : you are the next player %>
      <%= link_to("Go!", play_game_path(@game), class: "button is-primary footer-item", remote: true) %>
    <% elsif current_user == @game.current_player %>
      <%# The game is started : the current turn is over : you are the current player %>
      <div class="title is-4 has-text-success footer-item your-turn">Turn completed!</div>
    <% else %>
       <%# The game is started : the current turn is over : you are not the current or next player %>
      <button class="button is-success footer-item" disabled>Confirm action completed</button>
    <% end %>
  <% else %>
    <% if current_user == @game.current_player %>
       <%# The game is started : the turn is still going : you are the current player %>
      <!--div class="title is-4 has-text-primary footer-item your-turn">Your turn!</div-->
    <% elsif current_user.has_confirmed(@this_turn) %>
       <%# The game is started : the turn is still going : you are not the current player : you've confirmed the action was completed %>
      <button class="button is-success footer-item" disabled>Confirm action completed</button>
    <% else %>
       <%# The game is started : the turn is still going : you are not the current player : you need to confirm that the action has been completed%>
      <%= link_to("Confirm action completed", game_confirm_action_completed_path(@game), class: "button is-success footer-item", remote: true, method: :post) %>
    <% end %>
  <% end %>
<% else %>
  <%# The game has not yet been started : you are the first player %>
  <% if current_user == @game.next_player %>
    <%= link_to("Go!", play_game_path(@game), class: "button is-primary footer-item", remote: true) %>
  <% else %>
  <%# The game has not yet been started : you are not the first player %>
    <button class="button is-success footer-item" disabled>Confirm action completed</button>
  <% end %>
<% end %>
