<div class="all-games-container">
  <ul><%= render(@games) %></ul>
  <br/>
  <% if current_user.can_create_games? %>
    <%= link_to("New game", new_game_path, class: "button is-warning footer-item") %>
  <% end %>
</div>
