<div class="all-games-container">
  <ul><%= render(@games) %></ul>
  <br/>
  <%= link_to("New game", new_game_path, class: "button is-info footer-item") %>
  <%= link_to("Quit game", user_path(current_user, anchor: "quit-game"), class: "button is-danger is-outlined footer-item") %>
  <br/><br/>
</div>
