.all-games-container,
.game-container,
.new-game,
.edit-game-users,
.edit-game {
  padding: 12px;
}

.all-games-container {
  .game {
    display: block;
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 6px;
    box-shadow: 0.1em 0.1em 0.4em rgba(10, 10, 10, 0.1);
    padding: 12px 20px 12px 15px;
    margin: 12px 0px;
    max-width: 600px;
  }
}

.game-container {
  .category-title,
  .option-description {
    text-align: center;
  }
  .game-footer {
    display: flex;
    justify-content: center;
    .footer-item {
      margin: 20px 5px;
    }
    .your-turn {
      padding: 5px;
    }
  }
}

.edit-game {
  .categories {
    margin-top: -8px;
  }
  .new-category-form,
  .new-option-form {
    display: inline-flex;
    width: 100%;
    max-width: 500px;
    .input {
      margin-right: 5px;
    }
  }
}

.edit-game-users {
  .title {
    margin-bottom: 12px;
  }
}

.resource-action-divider {
  margin: 0px 4px;
  user-select: none;
}

.resource-order {
  display: inline-block;
  width: 24px;
  margin-right: 1px;
  text-align: right;
}

